h2{
	font-size: 2rem;
}

h3{
	font-size: 1.5rem;
}

h4{
	font-size: 1.4rem;
}

p{
	font-size: 1rem;
}

.bg-light2{
	background-color: #D1CBCB;
}

.div-container-card{
	padding-bottom: 4rem;
	padding-right: 3rem;
	padding-left: 3rem;
}


